# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:

  # App dependencies
  - package-ecosystem: nuget
    directory: /src/ # Relative to repo root
    schedule:
      interval: daily
    ignore:
      - update-types: ["version-update:semver-major"]

  # Test dependencies
  - package-ecosystem: nuget
    directory: /test/ # Relative to repo root
    schedule:
      interval: weekly
      day: saturday
      time: "04:00"
      timezone: Europe/London
    groups:
      all-test:
        patterns: ["*"]

  # GitHub Actions
  - package-ecosystem: github-actions
    directory: / # Relative to .github/workflows
    schedule:
      interval: weekly
      day: saturday
      time: "04:00"
      timezone: Europe/London
