name: CI
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
    types: [opened, reopened, ready_for_review, synchronize]

jobs:
  ci:
    if: github.event_name == 'push' || github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      id-token: write

    steps:
      - name: Checkout feature branch
        uses: actions/checkout@v6

      - name: Restore dependencies
        run: dotnet restore

      - name: Format code
        run: dotnet format --no-restore --verify-no-changes -v detailed

      - name: Build
        run: dotnet build --no-restore -c Release -p:ContinuousIntegrationBuild=true

      - name: Run tests
        run: >
          dotnet test --no-build -c Release
          --coverage --coverage-output-format cobertura --coverage-output coverage.cobertura.xml

      - name: Create test coverage report
        uses: danielpalme/ReportGenerator-GitHub-Action@v5
        with:
          reports: test/**/coverage.cobertura.xml
          targetdir: artifacts/coverage
          reporttypes: textsummary;htmlinline;cobertura
          toolpath: tools/reportgenerator

      - name: Print test coverage report
        run: |
          lineCov=$(grep "Line coverage" artifacts/coverage/Summary.txt | awk '{print $3}')
          branchCov=$(grep "Branch coverage" artifacts/coverage/Summary.txt | awk '{print $3}')
          echo "::notice::Line coverage: $lineCov, Branch coverage: $branchCov"

      - name: Upload test coverage report
        uses: actions/upload-artifact@v4
        with:
          name: test-coverage
          path: artifacts/coverage

      - name: Check for changes in src/ # Fails if there is no tag.
        id: check-changes
        run: |
          git fetch origin main --tags --depth=1

          latest_tag=$(git describe --tags `git rev-list --tags --max-count=1`)
          echo "Latest tag: $latest_tag"
          echo "latest_tag=$latest_tag" >> $GITHUB_ENV

          src_changes=$(git diff --name-only $latest_tag | grep ^src/ || true)
          if [ -n "$src_changes" ]; then
            sleep .5
            printf "Changes:\n$src_changes"
            echo "src_changed=true" >> $GITHUB_ENV
          else
            echo "No change in src/"
          fi

      - name: Get source version
        run: |
          src_ver=`cat VERSION`
          echo "Source version: v$src_ver"
          echo "src_ver=$src_ver" >> $GITHUB_ENV

          latest_tag="${{ env.latest_tag }}"
          if [ "$latest_tag" != "v$src_ver" ]; then
            echo "Source version changed from $latest_tag"
            echo "src_ver_changed=true" >> $GITHUB_ENV

            if [ $(git tag -l "v$src_ver") ]; then
              echo "::error file=VERSION::Tag v$src_ver already exists."
              exit 1
            fi

            echo "::notice file=VERSION::A new NuGet package with the version $src_ver will be published."
          elif [ "${{ env.src_changed }}" == "true" ]; then
            echo "::warning file=VERSION::Source changed since $latest_tag but the build version is the same. No package will be published."
          fi
      
      - name: Login to NuGet
        if: github.event_name == 'push' && github.ref_name == 'main' && env.src_ver_changed == 'true'
        uses: NuGet/login@v1
        id: nuget-login
        with:
          user: ${{ secrets.NUGET_USER }}

      - name: Publish
        if: github.event_name == 'push' && github.ref_name == 'main' && env.src_ver_changed == 'true'
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          dotnet pack -o artifacts --no-build -c Release -p Version=${{ env.src_ver }}

          dotnet nuget push \
            "artifacts/*.${{ env.src_ver }}.nupkg" \
            -s https://api.nuget.org/v3/index.json \
            -k ${{steps.nuget-login.outputs.NUGET_API_KEY}}

          gh release create \
            --generate-notes \
            --notes-start-tag ${{ env.latest_tag }} \
            v${{ env.src_ver }}
